/* Detail.css */

.Detail {
  display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin-top: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 9%;
  }
  
  .Detail h2 {

    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Detail p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
 