.PostList {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  flex-direction: column; /* 요소들을 세로로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-top: 50px;
}
  
  .PostList table {
    width: 70%;
    border-collapse: collapse;
  }
  
  .PostList th,
  .PostList td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  /* 제목과 내용의 너비를 조정 */
  .post_title {
    width: 20%;
  }

  .post_cont {
    width: 25%;
  }

  .Center button {
    background-color: #f7e9f1; /* Green background */
    border: none; /* Remove border */
    color: rgb(3, 3, 3); /* White text */
    width: 80px;
    padding: 10px 15px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block */
    font-size: 15px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Transition duration */
    cursor: pointer; /* Pointer cursor */
    border-radius: 8px; /* Border radius */
    font-weight: bold; /* 글자를 */
  
  }
  
  button:hover {
    background-color: #e969b8; /* Darker green on hover */
  }
  
 
  .PostList th {
    background-color: #f2f2f2;
  }
  
  .PostList h1 {
    margin-right: 20px;
  }
  
  .Center {
    text-align: center;
  }

  .Pagination {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px; /* 페이지네이션과 게시글 테이블 사이의 간격 조정 */
  }
  
  .Pagination button {
    margin: 0 5px; /* 페이지네이션 버튼 간의 간격 조정 */
  }